.toggle-btn-4{
    width: 150px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.toggle-btn-4 input[type=checkbox]{

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    appearance: none;-webkit-appearance :none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
    background-color: #fff;
}

.toggle-btn-4 .circle{

    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 10px;
    transform: translate(-50%);
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    background-color:transparent;
    pointer-events: none;
    border: 8px solid #0d4f8b;
    
}

.toggle-btn-4 .circle::before {

    content: "";
    position: absolute;
    width: 60%;
    height: 80%;
    top: -2px;
    left: 0;
    transform: rotate(30deg) scale(0);
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    transition-delay: 50ms;
    
}

.toggle-btn-4 input[type="checkbox"]:checked {
   
    background-color:#0d4f8b;
}

.toggle-btn-4 input[type="checkbox"]:checked ~ .circle {
    left: 105px;
    border: 0;
    background-color: #fff;
   
}

.toggle-btn-4 input[type="checkbox"]:checked ~ .circle::before{
   
    background-color:#0d4f8b;
    transform: rotate(30deg) scale(1);
}

   
    
    

